<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.kfs.assetedu.repository.Com02CodeRepository">

   <sql id="whereConditon">
		<!--    검색조건 -->
   		<if test="com02ComCd != null">
	       	AND com02_com_cd = #{com02ComCd}
		</if>
		<if test="com02CodeType != null">
			AND com02_code_type = #{com02CodeType}
		</if>
		<if test="com02UseYn != null">
			AND com02_use_yn = #{com02UseYn}
		</if>
   		<if test="searchText != null">
	       	AND upper(concat(com02_com_cd, com02_code_nm)) like concat('%',upper(#{searchText}),'%')
		</if>
   </sql>
   
<select id="selectList" parameterType="Condition" resultType="Com02Code">
select 
		com02_com_cd 	as 	com02ComCd, 
		com02_dtl_cd 	as 	com02DtlCd, 
		com02_code_nm 	as 	com02CodeNm, 
		com02_code_type as 	com02CodeType, 
		com02_seq 		as 	com02Seq, 
		com02_use_yn 	as 	com02UseYn, 
		com02_note 		as 	com02Note
from
		com02_code
		
WHERE 1=1
		<include refid="whereConditon"/>
			ORDER BY com02_com_cd, com02_seq, com02_dtl_cd
		<if test="pageAttr != null and pageAttr.offset != null">
			OFFSET #{pageAttr.offset}
		</if>   
		 <if test="pageAttr != null and pageAttr.limit != null">
			LIMIT #{pageAttr.limit}
		 </if>
</select>

	<select id="totalCount" parameterType="Condition" resultType="Long">
   		SELECT 
   			count(*) as count
   		FROM
   			com02_code
   		WHERE 1=1
   			<include refid="whereConditon"/>	
   </select>
</mapper>